services:
  nginx-gateway:
    build: ./nginx
    ports:
      - "5000:5000"
    depends_on:
      - backend
      - frontend
    networks:
      - app-network

  backend:
    build: ./backend
    volumes:
      - ./backend:/app
    environment:
      - FLASK_ENV=development
    networks:
      - app-network

  frontend:
    build: ./frontend
    networks:
      - app-network

  frontend2:
    build: ./frontend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

# Другой комметарий
#Комментарий дял git истории

# Вот еще комментарий